@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

$font-stack: "Poppins", sans-serif;
$primary-color: #000;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  nav {
    padding: 8px;
  }
  .container-player {
    margin: 16px auto;
    display: flex;
    align-items: center;
    width: 80vw;
    justify-content: space-around;
    .p1wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      #p1-display {
        font-size: 6rem;
      }
      .p1name {
        margin: 4px auto;
        font-size: 1.5rem;
      }
      button {
        margin: 4px auto;
        font-size: 1rem;
        padding: 8px 16px;
        background-color: transparent;
      }
    }
    .p2wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      #p2-display {
        font-size: 6rem;
      }
      .p2name {
        margin: 4px auto;
        font-size: 1.5rem;
      }
      button {
        margin: 4px auto;
        font-size: 1rem;
        padding: 8px 16px;
        background-color: transparent;
      }
    }
  }
  .container-setting {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    select {
      padding: 8px 16px;
    }
    button {
      padding: 8px 16px;
      background-color: transparent;
    }
  }
}
